body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topnav {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    background: transparent;
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    z-index: 1;
}

.topnav .navbar-brand {
    margin-right: auto;
}

.topnav a {
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    color: blue;
}

.topnav a.active {
    padding: 2px;
    text-decoration: none;
    border-bottom: solid blue;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 6px;
    margin: 8px 0;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-form button {
    padding: 6px 10px;
    background: #ddd;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-form button img {
    width: 16px;
    height: 16px;
}

.hero {
    background: url("Images/road\ car.jpg") no-repeat center center;
    background-size: cover;
    height: 109vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media (max-width: 768px) {
    .hero {
        background-size: contain;
    }
}

.search-container {
    text-align: center;
    color: #fff;
}

.search-container h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.search-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.bg-text {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 85%;
    padding: 30px;
    text-align: center;
}

.about-container {
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 30px;
    justify-content: space-between;
    background-color: #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    max-width: 4000px;
    margin: 20px auto;
}
.about-text {
    max-width: 650px;
    text-align: left;
}

.about-us-heading {
    color: blue;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}

.about-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-container img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(24, 27, 177, 0.3);
}

* {
    box-sizing: border-box;
}

.vehicle-category h1 {
    color: blue;
    text-align: center;
    font-size: 30px;
}

.vehicle-category p {
    font-size: 20px;
    text-align: center;
    padding: 0 20px; 
    margin: 0 auto; 
    max-width: 80%; 
}

.row {
    margin: 8px -1px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    margin: 10px;
    position: relative;
}

.content {
    position: relative;
    text-align: center;
    color: white;
}

.content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}

.model-image:hover {
    transform: scale(1.05);
}

.model-link {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #333;
    color: var(--bg-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.model-link:hover {
    color: #007bff;
}

.content a {
    position: absolute;
    bottom: 10px; 
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    margin: 0;
    text-decoration: none;
}


.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #12223c;
    color: white;
}

.services-text {
    flex: 1;
    padding-right: 20px;
}

.services-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.services-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.services-images {
    display: flex;
    flex: 2;
    justify-content: space-between;
}

.service-item {
    position: relative;
    width: 50%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 0 10px;
}

#self-drive {
    background-image: url(Images/self\ drive.jpg);
}

#with-driver {
    background-image: url(Images/with\ driver.jpg);
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}

.vehicle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #12223c;
    color: white;
    width: 90%;
    max-width: 1200px;
}

.services-text {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.services-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.services-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.details-button {
    padding: 10px 20px;
    background-color: white;
    color: #12223c;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.services-images {
    display: flex;
    flex: 2;
    justify-content: space-between;
}

.service-item {
    position: relative;
    width: 50%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 0 10px;
}

#self-drive {
    background-image: url(Images/self\ drive.jpg);
}

#with-driver {
    background-image: url(Images/with\ driver.jpg);
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}



.whychoose-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.whychoose-heading {
    color: blue;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}

.values {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the gap between items as needed */
}

.value {
    padding: 20px;
    text-align: center;
}

.value img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.value h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.value p {
    font-size: 14px;
    color: #666;
}


footer {
    background-color: #12223c;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-section p {
    margin: 0;
}

.bottom-section a {
    margin: 0;
    text-decoration: none;
    color: grey;
}

.icon-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.icon-container p {
    margin: 0;
    margin-right: 10px;
}

.fa-square-facebook {
    font-size: 40px;
    color: blue;
}

.fa-square-instagram {
    font-size: 40px;
    color: #ee2a7b;
}

.fa-square-x-twitter {
    font-size: 40px;
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: grey;
}

nav a:hover {
    color: #2514b9;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.contact img {
    max-width: 200px;
    height: auto;
}

.contact p {
    margin: 0;
}

.copyright {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}